:root {
  --primary-color: #53a551;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
}

.navbar p {
  font-size: 40px;
}

.navbar p span {
  color: var(--primary-color);
}

.navbar ul {
  display: flex;
  list-style: none;
  font-size: 20px;
}

.navbar ul li {
  padding: 0px 10px;
}

/* pseudo classes */
.navbar ul li:hover {
  border-bottom: 2px solid var(--primary-color);
}

@media screen and (max-width: 768px) {
  .navbar p {
    font-size: 22px;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar ul {
    margin-top: 15px;
  }
}

/* hero */
.hero {
  background-image: url("./images/home/showcase.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 1;
  position: relative;
}

.hero div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* pseudo elements */
.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
}

.hero div h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero div p {
  font-size: 25px;
  margin-bottom: 20px;
}

.hero div button {
  background-color: var(--primary-color);
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

.hero div button i {
  margin-right: 3px;
}

.hero div button:active {
  transform: scale(0.98);
}

/* services */
.services {
  display: flex;
  padding: 40px 30px;
}

.services div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 20px;
}

.services div i {
  font-size: 40px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.services h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .services {
    flex-direction: column;
  }

  .services div {
    margin: 20px 20px;
  }
}

/* about section */
.two-rows-section {
  display: flex;
  padding: 40px 0;
}

.two-rows-section .image-container img {
  height: 100%;
}
.two-rows-section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  background-color: var(--primary-color);
  color: white;
}

.two-rows-section .label {
  font-size: 24px;
}

.two-rows-section .title {
  font-size: 40px;
  margin-bottom: 18px;
}

.two-rows-section .text {
  font-size: 20px;
  margin-bottom: 20px;
}

.two-rows-section .cta {
  width: fit-content;
  background-color: transparent;
  padding: 10px 22px;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid white;
}

@media screen and (max-width: 1000px) {
  .two-rows-section {
    flex-direction: column;
  }

  .two-rows-section .image-container img {
    width: 100%;
    display: block;
  }

  .two-rows-section .content {
    padding: 20px;
  }

  .two-rows-section .title {
    font-size: 30px;
  }
}

/* cases */
.cases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 10px;
}

.cases h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.cases .gallery {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.cases .gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 868px) {
  .cases .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 515px) {
  .cases .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

#blog .content {
  background-color: #3982ca;
}
